body
{
	background: #16120b url("../images/bg.gif") no-repeat top center height="10";
	font-family: Arial, sans-serif;
}
#main
{
	width: 607px;
	margin: 70px auto;
}
h1
{
	margin: 0px;padding: 0px;
	color: #b4eb7e;
	letter-spacing: -2px;
	font-size: 3.3em;
	text-align: center;
}
#blogPosts
{
	background-color: #e9e4d9;
	border: 9px #615b4a solid;
	padding: 5px;
}
	.post
	{
		background: #556639 url("../images/post-bg.gif") no-repeat top left;
		padding: 8px; margin: 0px 0px 5px 0px;
	}
	.post:last-child
	{
		margin: 0px;
	}
		h2
		{
			margin: 0px;padding: 0px;
			color: #232f0f;
			font-size: 2em;
			letter-spacing: -2px;
		}
		.post p
		{
			margin: 0px 0px 8px 0px;
		}
		.post span
		{
			display: block;
			padding: 4px;
			background-color: #344120;
			color: #70864d;
		}